<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acordeon</title>
<link rel="stylesheet" href="/CSS/estilos.css">

</head>
<body>
	
				<h3>Noticias Importantes</h3>
				  <div class="accordion-item" data-th-fragment="acordeon">
				    <h2 class="accordion-header">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        Presentación del libro "EL HIDRÓGENO Y EL LITIO ACTORES FUNDAMENTALES EN LA TRANSICIÓN ENERGÉTICA"
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        <strong>Noticia importante del día.</strong> El jueves pasado se llevó a cabo la presentación oficial del libro titulado “El hidrógeno y el litio: actores fundamentales en la transición energética”, elaborado por 18 profesionales, investigadores y docentes del campo de estudio. Entre ellos se destaca el Dr. Daniel Ernesto Galli, docente de la Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) y titular de la cátedra de Termodinámica.
							La apertura estuvo a cargo de la vicedecana, la Ing. María Esther Alfaro, acompañada por una de las responsables de la edición de la obra, la Ing. Teresa Pérez (FIUBA), y el Dr. Daniel Ernesto Galli. En el evento participaron personalidades del sector de la industria, la Secretaría de Extensión, Coordinación y Planificación de la Facultad de Ingeniería de la UNJu, la Esp. Ing. Margarita Ivanovich, estudiantes, docentes e invitados especiales.
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        Curso de posgrado: "Derecho e Inteligencia Artificial"
				      </button>
				    </h2>
				    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        <strong>Cuestionario a Rellenar.</strong>La inscripción al curso se realiza completando el siguiente formulario:

						<a href="#">https://docs.google.com/forms/u/2/d/1Fi8wJ2rz65Sms37cjcQD158rd3zWzYrtP8251O5jxSQ/edit?usp=drive_web</a>
						
						Una vez hecha la inscripción se debe realizar el pago mediante transferencia al siguiente alias: COOPERADORA.FACULTAD (todo con mayúsculas y separadas por un punto).
						
						Una vez realizada la transferencia, se deberá completar el siguiente formulario con los datos de facturación y adjuntar el comprobante.
						<a href="#">https://docs.google.com/forms/u/2/d/1UtfuSE5IUBljVDq_WaIN5XqfAEthZ9ss_RtMo8SKquI/edit?usp=drive_web</a>
						
						Consultas: coordinacionposgrado@fi.unju.edu.ar
			
			              cibercrimen@fi.unju.edu.ar - 388-4207007
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				        La UNJu y el Municipio de Palpalá lanzaron el programa Ciudadanía Digital UNJu. Conectando Oportunidades
				      </button>
				    </h2>
				    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        <strong>Noticia en Palpalá.</strong>En el marco de las acciones que en conjunto vienen desarrollando la Universidad Nacional de Jujuy y la Municipalidad de Palpalá, se presentó una nueva iniciativa destinada a personas mayores de 16 años con el objetivo de brindar acceso a herramientas digitales.
				      </div>
				    </div>
				  </div>

	
</body>
</html>