@charset "UTF-8";

.main-title{
	text-align: center;
}
.info-facultad{
	margin:10px;
	padding:30px;
	border:20px;
}
.section-noticias{
	margin:10px;
	padding:30px;
	border:20px;	
}
.accordion
{
	margin:10px;
	padding:30px;
	border:20px;		
}

.logo{
	margin: 10px;
	width: 60%;
	height: auto;
}